
<div class="form-wrapper">

  <div class="form">
    <%= simple_form_for(raffle) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :end_date %>
    <%= f.input :number_amount %>
    <%= f.input :currency %>
    <%= f.input :price_cents %>
    <%= f.input :header_photo, as: :file %>
    <%= f.submit "Create Raffle", class: "btn primary-button"  %>
    <% end %>
  </div>

</div>
