<p>Status <%= @order.state %></p>

<p>Amount <%= @order.amount_cents %></p>

<p>Checkout ID<%= @order.checkout_session_id %></p>

<p>User ID<%= @order.user_id %></p>

<p>Raffle ID<%= @order.raffle_id %></p>

<p>Number ID<%= @order.number_id %></p>

